/*Website Styles */
* {
  /* font-size: 100%;  */
  /* border: 1px solid red:  */
  /* margin: 2;  */
  /* line-height: 1; */
  box-sizing:;
  border:;
}
body {
  background-color: beige;
  color:;
  font-family:;
  font-size:;
  /* margin: 50px;  */
}
header, section, footer {
  text-align:;
  padding:;
  border-bottom:;
}

h1, h2, h3 {
  font-weight:;
  font height:helvetica;
  font-style:;
  margin-bottom:;
}

h1 {
  font-size:50px;
  text-align:center;
  color:black;
  font-style: helvetica;
}

}
h2 {
  font-size: 24px;
  color: yellow;
}
h3 {
  font-size: 18px;
  color: lime;
}
p {
  line-height: 2;
  color: black;
  margin: 15px 0;
}
ul, ol {
  margin: 15px 0;
}
Section {
  color:DarkBlue;
  border: solid;
  border-width: 2px;
  background-color: white ;
  margin:50px;
  padding:0;
}
img {
  height:;
}
footer p {
  color:;
  font-size:;

.title {
  font-size:;
  text-decoration:;
}

a:link
a:focus
a:active {
  color:;
  text-decoration:;
}
a:hover {
  text-decoration:;
  color:;
}
a:visited {
  color:;
}
