body {
  background-color: beige;
  color:;
  font-family: helvetica, sans-serif,;
  font-weight: 400;
  text-align:;
}

.container {
  width: 80%;
  margin: 0 auto;
}

Header {
  background: SandyBrown;
}
header: :after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 5px 0;

}



nav {
  float: center;
  padding: 20px 0;
  text-align: center;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  position: relative;
}
nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15.5px;
}
nav a:hover {
  color: #000000;
}
nav a:before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #000000;
  position: absolute;
  top: 0;
  width: 0;
  transition: all ease-in-out 225ms;
}
nav a:hover::before {
  width: 100%;
}



h1 {
  font-size:50px;
  text-align:center;
  color:#000000;
  font-style: helvetica;
}


h2 {
  font-size: 24px;
  color: black;
}


h3 {
  font-size: 18px;
  color: #000000;
}

h4 {
  text-transform: uppercase;
}

p {
  line-height: 2;
  color: #000000;
  margin: 15px 0;
}
Section h3 {
  text-align: center;
  margin: 75px;
  font-size: 30px;
}


Section {
  color: #000000;
  border: solid;
  border-width: 1.5px;
  background-color: white ;
  margin:50px;
  padding:0;
}


img {
  display: block;
  margin: 0 auto;
}


footer p {
  color:;
  font-size:;
}


a:link
a:focus
a:active {
  color:;
  text-decoration:;
}


a:hover {
  text-decoration:;
  color:;
}


a:visited {
  color:;
}
